<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>那个村</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/lib/js/jquery.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <script src="/lib/js/jq.cookie.js"></script>
    <style>
        .comic-box{
            display: flex;
            /* justify-content: space-between; */
        }
        .big-img{
            width: 800px;cursor: pointer;
        }
        h3{
            text-align: left;
            line-height: 1.2em;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="font-size:2em;" class="navbar-brand" href="/">那个村</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



                    <ul class="nav navbar-nav navbar-right">
                        <li class="logined hidden">
                            <div>
                                <!-- <span>你好：</span> -->
                                <span class="userNick"></span>
                            </div>
                            <a class="" href="/">注销</a>
                        </li>
                        <li class="unlogin">
                            <a href="/login">登陆</a>
                        </li>
                        <li class="unlogin">
                            <a href="/register">注册</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- <img src="/images/banner.jpg" width="100%" alt=""> -->

    </div>
   

    <div class="container comic-box text-center">
        <div>
            <img class="big-img" src="<%= comic.imgurl %>" alt="<%= comic.name%>" title="查看大图">
        </div>
        
        <div class="comic-info">
            <h3>剧名：<%= comic.name%></h3>
            <h3>标签：<%= comic.keyword%></h3>
            <h3>热度：<%= comic.hot%></h3>
            <h3>
                你想几天看完：
                <button class="sub btn btn-primary" >-</button>
                <button class="count btn btn-default" >1</button>
                <button class="add btn btn-primary" >+</button>
            </h3>
            <h3 style="text-align:right;"><button data-id="<%= comic._id %>" class="add-cart btn btn-danger">加入补番计划</button></h3>
        </div>
    </div>

    <!--  -->

    <%- include('./footer.ejs') %>
    <script src="/javascripts/index.js"></script>
    <script>
        let num = 1;
        $('.big-img').click(function(){
            window.open($(this).attr('src'))
        })

        $(".sub").click(function(){
            if (num == 1) {
                alert("呵呵")
            } else {
                num--;
                $(".count").text(num)
            }
        })
        $(".add").click(function () {
            num++;
            $(".count").text(num)
        })

        $('.add-cart').click(function(){
            console.log("舒服舒服")
            // 获取存在cookie中的用户信息，如果存在则获取，否则给个空值
            var user_info = $.cookie('user_info') ? JSON.parse($.cookie('user_info')) : null

            if (user_info) {
                // here，用户id， 番剧 id
                console.log(user_info, user_info.uid, $(this).data('id'))
                $.ajax({
                    url: "/comic/addComic",
                    // 不传数量的话代表1
                    data: { uid: user_info.uid, comid: $(this).data('id'), num: num},
                    success: function (results) {
                        console.log("返回值：", results)
                    }
                })
                location.href = '/cart'
            } else {
                alert("先去登陆吧！")
                window.location.href = '/login'
            }
        })
    </script>
</body>

</html>